@model BookShop.Models.Category

<div class="container col-md-6 text-center mt-3">
    <form class="card p-3 bg-light" asp-controller="Category" asp-action="Add" method="post">
        <h3 class="text text-primary">Add new book category</h3>
        <div class="form-group">
            <label asp-for="Name" class="text text-success"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text text-danger"></span>
        </div>
          <div class="form-group">
            <label asp-for="DetailedId" class="text text-success">
                Book Detailed
            </label>
            <select asp-for="DetailedId" class="form-control" asp-items="@(new SelectList(ViewBag.Detailes,"Id","Name"))">
                <option>Select one</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Add" />
        </div>
    </form>
</div>